body {
    background-color: #333;
    color: #fff;
}

.navbar {
    border-bottom: #008ed6 2px solid;
    opacity: 0.8;

}

#home-section {
    background-image: url('../img/home.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 600px;
    height: 80vh !important;

}

#home-section .dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    background: rgba(0,0,0,.7);
}

#home-section .home-inner{
    padding-top: 150px;
}

#home-section .card-form {
    opacity: 0.9;
}

#home-section .fas,
#create-section .fas {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    color: #008ed6;
}

#explore-section {
    padding: 15px;
    background-color: #fff;
    color: rgb(0,0,0);
}

#explore-section .fas,
#share-section .fas {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}